@import '../../styles/variables.scss';

.tagBtn {
  background-color: transparent;
  margin-right: 10px;
  border: transparent;
  font-size: 20px;
  cursor: pointer;
}

.item {
  visibility: hidden;
  width: 120px;
  text-align: center;
  padding: 5px;
  z-index: -1;
  transform: translateY(-2em);
  transition: all 0.5s ease-in-out 0s, visibility 0s linear 0s, z-index 0s linear 0.01s;
}

.category {
  position: fixed;
  font-size: 20px;
  width: 120px;
  height: 40px;
  top: 150px;
  left: 1300px;
  text-align: center;
  border-radius: 10px;
  color: #093d55;
  cursor: pointer;
  background: none;
  border: 2px solid #093d55;
}

.category:focus .item,
.category:focus-within .item,
.category:hover .item{
  display: block;
  border: none;
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.category > .item {
  transition: all .5s ease;
}