@import '../../styles/variables.scss';

.item {
  display: inline;
}

.tagBtn {
  background-color: transparent;
  margin-right: 10px;
  border: transparent;
  font-size: 20px;
  cursor: pointer;
}

.tag {
  font-size: 35px;
  text-align: center;
}