@import '../../styles/variables.scss';

.item {

  button {
    background-color: transparent;
    margin: 5px 5px;
    color: $link-hover-color;
    border: 2px solid $link-hover-color;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  button:hover {
    color: #fff;
    background: $link-hover-color;
  }

  button:visited {
    color: #fff;
    background: $link-hover-color;
  }
}

.category {
  margin: 40px 0;
}