@import '../../styles/variables.scss';

.blog-title {
  background-color: transparent;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -2px;
  color: $main-color;
}

.blog-title:hover {
  color: $link-hover-color
}

.title-link {
  letter-spacing: -3px;
  color: $main-color;
  opacity: 0.95;
}