@import '../../styles/variables.scss';

.top {
  position: relative;
  width: 100%;
  height: 70px;
  background: $top-header-background-color;
  padding-top: 20px;

  .title {
    color: $top-header-text-color;
    opacity: 0.8;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 35px;
  }
}
