@import '../../styles/variables.scss';

.check-box {
  margin: 30px 0px;
  border: 1px $light-main-color solid;
  border-radius: 20px;
  padding: 20px 10px;
  text-align: center;
  color: $main-color;
  background: rgb(251, 251, 251);

  .plan-title {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1px;
    color: $main-color;
  }
 
  .plan-title:hover {
    color: $link-hover-color
  }

  .plan-list {
    text-align: left;
    margin-top: 20px;
  }
}
